@page
@using MowiTajm.Models
@model MowiTajm.Pages.Movies.EditReviewPageModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Redigera Recension";
}

<div class="page-content-container">
    <h1 class="edit-review-title">Redigera recension</h1>

    @* Formulär för att redigera sin recension *@
    <section class="review-input-container">
        <h2 class="center-stuff review-input-movie-title">@Model.Review.MovieTitle</h2>
        <form class="review-input-form" method="post">

			@* Dolda fält för att skicka med recensionens ID och filmens ID *@
            <input type="hidden" asp-for="Review.Id"/>
            <input type="hidden" asp-for="Review.ImdbID"/>
            <input type="hidden" asp-for="Review.MovieTitle"/>

            <fieldset class="review-input-head">
				<legend>Välj antal stjärnor att ge filmen i betyg. 1 till 5.</legend> @* Döljs visuellt *@

				@* Hämtar användarnamn som readonly för att användaren inte ska kunna ändra det. *@
                <input class="review-input-name" type="text" value="@Model.DisplayName" class="review-input-name" asp-for="Review.Username" required readonly /><br />
                
				@* Stjärnval för betyg *@
                <div class="review-input-stars" title="Välj antal stjärnor att ge i betyg">
                    <input class="review-input-hidden-star" type="radio" id="star5" value="5" asp-for="Review.Rating">
                    <label class="review-input-star" for="star5">★ </label>

                    <input class="review-input-hidden-star" type="radio" id="star4" value="4" asp-for="Review.Rating">
                    <label class="review-input-star" for="star4">★ </label>

                    <input class="review-input-hidden-star" type="radio" id="star3" value="3" asp-for="Review.Rating">
                    <label class="review-input-star" for="star3">★ </label>

                    <input class="review-input-hidden-star" type="radio" id="star2" value="2" asp-for="Review.Rating">
                    <label class="review-input-star" for="star2">★ </label>

                    <input class="review-input-hidden-star" type="radio" id="star1" value="1" asp-for="Review.Rating">
                    <label class="review-input-star" for="star1">★ </label>
                </div>
            </fieldset>

			@* Rubrik *@
            <input class="review-input-title form-control me-2" type="text" class="review-input-title" placeholder="Rubrik.." asp-for="Review.Title" required maxlength="50" />

			@* Textarea för recension *@
            <textarea class="review-input-text form-control me-2" placeholder="Vad tyckte du om filmen?" asp-for="Review.Text" required maxlength="1000"></textarea> <br />

            @* Spara eller avrbyt redigeringen *@
            <footer class="review-edit-footer">
                <button class="btn-design btn-black" title="Spara dina ändringar" aria-label="Spara dina ändringar" type="submit" 
                    onclick="return confirm('Vill du spara och publicera dina ändringar?')">✓</button>
                <a class="btn-design btn-red" title="Avbryt redigering." aria-label="Avbryt redigering och återgå till förra sidan" asp-page="MovieDetailsPage" asp-route-imdbID="@Model.Review.ImdbID" 
                    onclick="return confirm('Vill du avbryta redigering och återgå till förra sidan?')">🛇</a>
            </footer>
        </form>
    </section>
</div>